#header {
	text-align: center;
}

#header .emphasis {
	font-size: 2.5rem;
	text-align: center;
	font-style: italic;
	text-decoration: underline;
	color: rgb(182, 0, 0);
}

h1 {
	font-size: 3rem;
	text-align: center;
}

h2 {
	margin-top: 10px;
}

img {
	width: 100%;
	border: 1px solid rgb(241, 241, 241);
	border-radius: 5px;
}

#pie_chart {
	max-width: 800px;
}

#concentration_graph {
	max-width: 600px;
	width: 60%;
}

#increasing_concentration_parent {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#ipcc_quote {
	width: 35%;
}

@media screen and (max-width: 850px) {
	#increasing_concentration_parent {
		display: flex;
		flex-direction: column;
	}
	#ipcc_quote {
		width: 100%;
	}
}

@media screen and (max-width: 650px) {
	h1 {
		font-size: 2.5rem;
	}
}
